


@media screen and (max-width:420px){
 
    .searchresult{

        margin-left: 10px;
        list-style-type: none;
        font-size: 16px;
    }


}

@media screen and (max-width:800px) and (min-width:450px)
{
    .searchresult{

        margin-left: 100px;
        list-style-type: none;
        font-size: 20px;
    }


}


@media screen and (min-width:1000px) and (max-width:1200px)
{
    .searchresult{

        margin-left: 150px;
        list-style-type: none;
        font-size: 24px;
    }



}


@media screen and (min-width:1200px) {

    .searchresult{

        margin-left: 200px;
        list-style-type: none;
        font-size: 30px;
    }


}